.card {
  width: 150px;
  height: 75px;
  padding: 10px 15px;
  border: solid 1px #c4bfbf;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e6f5e1;
  span {
    font-size: 16px;
    font-weight: 900;
    color: #666;
  }
}
